button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color:hsl(0, 0%, 30%);
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,130px);
    grid-template-rows: repeat(3,1fr);
    row-gap:10px ;
    padding: 25px;
}
#calculator{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    border-radius: 15px;
    width: 18%;
    height: 50%;

    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 80px;
    text-align: left;
    border: none;
    background-color: hsl(0,0%,20%);
    color: white;
    height: 120PX;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
button:hover{
    background-color: hsl(0,0%,40%);
}
button:active{
    background-color: hsl(0,0%,50%);
}
.operator{
    background-color: hsl(35,100%,55%);
}
.operator:hover{
    background-color: hsl(35,100%,65%);
}
.operator:active{
    background-color: hsl(35,100%,75%);
}
.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    margin-left: 400px;
    font-size: 40px;
}
.ff{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 240px;
    background-color: blue;
    color: white;
}
.num{
    background-color: white;
    color: blue;
    font-weight: 900;
}
#jojo{
    background-color: red;
    color: white;
    
}
